// Demo Flat UI Free


// Loading config with variables (changing them leads to changing a color scheme)
@import "variables";

// Utility mixins for greater good
@import "mixins";

.container {
  margin-left: auto;
  margin-right: auto;
}

// For demo purposes only
.demo-headline {
  padding: 73px 0 60px;
  text-align: center;
}
.demo-logo {
  .logo {
    background: ~"url(./img/MADLAB-logo.svg) center 0 no-repeat";
    background-size: 50%;
    height: @grid-gutter*6px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -9999em;
    width: 100%;
  }
}
// Panels delimiter
.demo-row {
    margin: @grid-gutter 0;

    .demo-text-note {
    display: block;
    width: 260px;
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 13px;
    line-height: 13px;
    color: mix(desaturate(@brand, 25%), white, 34%);
    font-weight: 200;
  }
  
  &.typography-row {
    .demo-content {
      float: none;
      width: auto;    
      clear: both; 
    }
    .demo-type-example {
      padding-left: 25%;
      margin-bottom: 40px;
      position: relative;
    }
  }
}
// Shift blocks to fit design
.demo-navigation {
  margin-bottom: -4px;
  margin-top: -10px;
}
.demo-pager {
  margin-top: -20px;
}
.demo-tooltips {
  height: 126px;

  // Needed just for the demo. Don't use it in producion ;)
  .tooltip {
    left: -8px !important;
    position: relative !important;
    top: -8px !important;
  }  
}
.demo-headings {
  margin-bottom: 12px;
}
.demo-tiles {
  margin-bottom: 46px
}

.demo-icons {
  font-size: 32px;
  margin-left: -20px;
  padding-left: 20px;

  .demo-content {
    margin: 0 0 0 -35px;
    
    > span {
      display: inline-block;
      margin: 0 0 32px 35px;
      width: 24px;
      font-size: 24px;
    }  
  }
}

.demo-icons-tooltip {
  bottom: 0;
  color: mix(@brand, @inverse, 30%);
  font-size: 12px;
  left: 100%;
  margin-left: 0 !important;
  position: absolute;
  width: 80px;
}

// Shatches
.demo-swatches-row {
  [class*="col"] {
    float: left;    
    min-height: 1px;
  }
  .swatches-col {
    width: 800px;
    margin-left: -5px;
  }
  .swatches-desc-col {
    width: 140px;
    margin-left: 20px;
  }
}

// Sidebar for Components navigation
.demo-sidebar {
  font-size: floor(@font-size-base * 0.778); // ~14px
  line-height: 1.214; // ~17px
  height: 100%;
  left: 0;
  margin: 0;
  list-style-type: none;
  overflow: auto;
  position: fixed;
  top: 0;
  padding: 0;
  width: 150px;
  z-index: 10000;
  background-color: mix(@brand, white, 6%);
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;

  li {
    &:first-child {
      a {
        padding-top: 20px;
      }
    }
  }

  a {
    display: block;
    padding: 7px 20px;
  }
}