//
//	Patrones:
//  navegación, acordeón, pestañas
//

ul.meta{

	top: 0;
	vertical-align: top;
	text-align: right;
	font-size: 10px;
	margin: -@gridGutter 0 @gridGutter/2 0;
	padding: 0 20px;
	
	li{
		display: inline;
		border-right: 1px solid @blanco;
		padding: 0 10px;
		&:last-of-type{
			border: none;
		}
			a{
				font-weight: bold;
			}
    }
}

// Navegación

nav{
	margin: 0 @gridGutter;
	border-bottom: 1px solid @gris-claro;
	
	ul, ol{
	margin: 0;
	padding: 0;

	.clearfix;
		li{
			display: inline;
			margin: 0;
			padding: 0;
			list-style-type: none;
		
			a{	
				display: inline-block;	
				margin: 0;
				padding: @cuerpo;
				font-weight: bold;
				color: @negro !important;
				font-size: @cuerpo;
				text-transform: uppercase;

			}
			
			a:hover{
				text-decoration: none;
				color: @link-color !important;
				.transition(.5s ease all);
			}
            img { 
                width: 300px;
            }
		}	
	}
}

.accordion {
    h5 {
        text-decoration: underline;
        }
    h5:hover{
    			text-decoration: none;
				background-color: @blanco;
				color: @link-color !important;
				.transition(.5s ease all);
			}
    }
#accordion-resizer {
    	height: 350px;
	}

.gran-contenedor{
    float: left;
    }
    
.destacado {
    background-image: url("./img/image.png");
    height: 500px;
    .box-shadow(fade(@negro, 10%) 0 0 12px);
}

.recientes{
}

.evento {
    img {
        width: inherit;
        .box-shadow(fade(@negro, 10%) 0 0 12px);
        }
    }

