// Nombres y Variables

// importar "Source Sans Pro" en todos sus pesos y variantes
 @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900italic,700italic,600italic,400italic,300italic,200italic,700,900,600,300,200);

// importar "Source Code Pro" en todos sus pesos y variantes
 @import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);

// importar "Libre Baskerville"
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);

//importar "Varela Round"
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

@sans:				"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
@serif:				"Libre Baskerville", Georgia, serif;
@mono:				"Source Code Pro", Menlo, 'Courier New', Courier, monospace;
@especial:          "Varela Round", 'Andale Mono', Courier, monospace;
@tipografia:		@sans;


// Grises
@negro:				rgba(0, 0, 0, 1);
@negro-claro:		rgba(51, 51, 51,1.0);
@gris-oscuro:       rgba(127, 140, 141,1.0);
@gris:				rgba(149, 165, 166,1.0);
@gris-claro:		rgba(189, 195, 199,1.0);
@blanco-oscuro:     rgba(236, 240, 241,1.0);
@blanco:			rgba(255, 255, 255, 1);

// Colores
@pregrado:			rgba(26, 188, 156,1.0);
@titulo:			rgba(211, 84, 0,1.0);
@postgrado:		    rgba(241, 196, 15,1.0);
@academico:			rgba(41, 128, 185,1.0);
@externo:		    rgba(155, 89, 182,1.0);
@azul:		        rgba(52, 73, 94,1.0);
@rojo:				rgba(192, 57, 43,1.0);
@verde:             rgba(39, 174, 96,1.0);
@twitter:		    rgba(64,153,255, 1.0);
@facebook:			rgba(59,89,152, 1.0);

// Links
@link-color:		@azul;
@color-link:		@link-color;

// Proporciones tipográficas
@cuerpo:			16px;				// tamaño base en pixeles
@em: 				@cuerpo * 1em;		// atajo para salida en ems, ej. '12/@em'
@interlinea:		@em / 4;
